@use "../../presets/variables" as *;
@use "../../presets/skin" as *;
@use "../../mixins/mixins" as *;
@use "../../mixins/mixins-media" as *;
@use "../../mixins/extends" as *;

.aside {
	margin-bottom: $gap-xl;
}

.user-login__btn,
.site-search__btn {
	@extend %btn-white;
	color: $color-gray-dark;

	&:hover,
	&:focus {
		@extend %btn-white;
	}
}

.user-login {
	position: relative;

	&__list {
		position: absolute;
		top: 0;
		right: $gap;
		border: none;
	}

	&__item {
		background-color: transparent !important;

		button {
			color: $color-gray;
			border: none !important;
			padding: $gap-md calc($gap / 3) $gap-md $gap-md;
			font-size: 1.15rem;
		}

		button.active {
			background-color: transparent !important;
			color: $color-light !important;
		}
	}
}

.site-news {

	&-item {
		position: relative;

		&:not(:last-child) {
			margin-bottom: $gap * 2;

			&::after {
				position: absolute;
				content: "";
				bottom: -$gap;
				right: 0;
				width: calc(100% - 100px);
				height: 1px;
				background-color: $color-gray;
			}
		}

		&:hover,
		&:focus {
			img {
				background-color: $color-accent;
				border-color: $color-accent;
			}

			a {
				color: $color-accent;
			}
		}

		&__image {
			transition: background-color 0.25s;
		}

		&__link {
			@include block-shortener(1rem, 1.5, 50px, 2);
			transition: color 0.25s;
		}

		&__date {
			color: $color-gray-dark;

		}
	}
}

.top-films {

	&__item {
		background-color: transparent;
		margin-left: -0.5px;
		margin-right: -0.5px;
		transition: background-color 0.25s;

		a, span {
			transition: all 0.25s;
		}

		&:hover,
		&:focus {
			background-color: $color-accent;

			a {
				color: $color-light;
			}

			span {
				background-color: $color-dark !important;
			}
		}
	}
}