@use "../../presets/variables" as *;
@use "../../presets/skin" as *;
@use "../../mixins/mixins" as *;
@use "../../mixins/mixins-media" as *;
@use "../../mixins/extends" as *;

section {
	overflow: hidden;
}

.main {
	margin-bottom: $gap-xl;

	.site-search {
		margin-bottom: $gap * 3;
	}

	.user-login {
		margin-bottom: $gap * 4;
	}
}

.top-week,
.new-films {

	&__row {
		margin-left: -$gap-sm;
		margin-right: -$gap-sm;
	}

	&-item {
		margin-bottom: $gap;
		padding-left: $gap-sm;
		padding-right: $gap-sm;

		&:hover,
		&:focus {
			.top-week-item__thumbnail,
			.new-films-item__thumbnail {
				background-color: $color-accent;
			}

			h3 {
				color: $color-light;
			}
		}

		&__thumbnail {
			transition: background-color 0.25s;
		}

		&__title {
			margin: 0;
			padding: $gap-sm;
			font-size: 1rem;
			text-align: center;
			color: $color-dark;
			font-weight: bold;
			@include text-shortener;
			transition: color 0.25s;
		}
	}
}

.film-news {
	&-item {

		a {
			transition: background-color 0.25s;
		}

		&:hover,
		&:focus {
			img {
				background-color: $color-accent;
			}

			a {
				background-color: $color-accent;
			}
		}

		&:not(:last-child) {
			margin-bottom: $gap * 3;
		}

		&__btn {
			color: $color-light;
			@extend %btn-accent;
		}

		&__text {
			@include xl-min {
				@include block-shortener(1rem, 1.5, 150px, 6)
			}
			@include xl-md {
				@include block-shortener(1rem, 1.5, 100px, 4)
			}

			@include lg-md {

			}
		}
	}
}