@use "../presets/skin" as *;
@use "../presets/variables" as *;

%text-shadow {
	text-shadow: 0 0 5px $color-black, 0 0 15px $color-black, 0 0 30px $color-black;
}

%background-border-gray {
	background-color: $color-gray-light;
	border: 1px solid $color-gray;
}

%btn-white {
	background-color: $color-light;
	border: 1px solid $color-gray;
}

%btn-accent {
	background-color: $color-accent-light;
	border-color: $color-accent-light;
	color: $color-light;

	&:hover,
	&:focus {
		background-color: $color-accent;
		border-color: $color-accent;
		color: $color-light;

	}
}