.header-logo__title,
.header-logo__description {
  text-shadow: 0 0 5px #000000, 0 0 15px #000000, 0 0 30px #000000;
}

*::before,
*::after,
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;

  color: #165690;
}

.bg-body-tertiary {
  background-color: #232323 !important;
}

.header-logo {
  padding: 100px 0;

  background-color: #232323;
  background-image: url(../img/header-bg.jpg);
  background-position: 50% 50%;
  background-size: cover;
}
.header-logo__title {
  padding-left: 0.33em;

  letter-spacing: 0.33em;

  color: #df8a13;

  font-family: "PT Serif", serif;
  font-size: 3.5rem;
}
.header-logo__description {
  letter-spacing: 0.2em;

  color: #ffffff;

  font-size: 1.15rem;
}
