@use "../presets/variables" as *;
@use "../presets/skin" as *;
@use "../mixins/mixins" as *;
@use "../mixins/mixins-media" as *;
@use "../mixins/extends" as *;

*::before,
*::after,
* {
	box-sizing: border-box;
}

body {
	font-family: $font-main;
	font-size: $font-size;
}

h1 {
	font-family: $font-header;
	position: relative;

	@include sm-min {
		font-size: 3rem;
		margin: -$gap-sm 0 1em;
	}
	@include sm {
		font-size: 2rem;
		margin: 0 0 1em;
	}

	&::after {
		content: "";
		position: absolute;
		width: 100%;

		margin: 0.9em 0 0 $gap-md;
		border-bottom: 3px solid $color-accent-light;
	}
}

h2 {
	font-family: $font-header;
	position: relative;

	margin: $gap * 4 0 $gap * 3 $gap * 3;

	@include sm-min {
		font-size: 2.5rem;
		margin: $gap * 4 0 $gap * 3 $gap * 3;
	}
	@include sm {
		font-size: 1.75rem;
		margin: $gap * 3 0 $gap * 2 $gap * 3;
	}

	&::before {
		content: "";
		position: absolute;
		width: $gap * 2;
		margin: $gap-md 0 0 (-$gap * 3);
		border-bottom: 3px solid $color-accent-light;
	}

	&::after {
		content: "";
		position: absolute;
		width: 100%;
		margin: 0.9em 0 0 $gap-md;
		border-bottom: 3px solid $color-accent-light;
	}
}

a {
	text-decoration: none;
	color: $color-primary;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}