@use "../presets/variables" as *;
@use "../presets/skin" as *;
@use "../mixins/mixins" as *;
@use "../mixins/mixins-media" as *;
@use "../mixins/extends" as *;

*::before,
*::after,
* {
	box-sizing: border-box;
}

body {
	font-family: $font-main;
	font-size: $font-size;
}

h1 {
	font-family: $font-header;
	position: relative;

	@include sm-min {
		font-size: 3rem;
		margin: -$gap-sm 0 1em;
	}
	@include sm {
		font-size: 2rem;
		margin: 0 0 1em;
	}

	&::after {
		content: "";
		position: absolute;
		width: 100%;

		margin: 0.9em 0 0 $gap-md;
		border-bottom: 3px solid $color-accent-light;
	}
}

a {
	text-decoration: none;
	color: $color-primary;
}